<div class="sidenav-container" xmlns:th="http://www.w3.org/1999/xhtml">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link notification-link" th:classappend="${isNotification} ? active : ''"
               href="#" th:href="@{/}">Notification</a>
        </li>
        <li class="nav-item">
            <a class="nav-link settings-link" th:classappend="${isSettings} ? active : ''"
               href="#" th:href="@{/settings}">Paramètre</a>
        </li>
        <li class="nav-item">
            <a class="nav-link documentation-link" th:classappend="${isDocumentation} ? active : ''"
               href="#" th:href="@{/documentation}">Documentation</a>
        </li>
    </ul>
</div>