<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>

<div th:replace="fragments/header"></div>

<div class="body-container">
    <div th:replace="fragments/sidenav"></div>


    <div class="content-container documentation-container">
        <div class="jumbotron shadow discord-container">
            <h1>Configurer Discord</h1>
            <hr class="my-4">
            <p></p>
        </div>

        <div class="jumbotron shadow team-container">
            <h1>Configurer Microsoft Team</h1>
            <hr class="my-4">
            <p></p>
        </div>

        <div class="jumbotron shadow slack-container">
            <h1>Configurer Slack</h1>
            <hr class="my-4">
            <p></p>
        </div>

        <div class="jumbotron shadow webhook-container">
            <i class="fas fa-link"></i><h1>Configurer votre Webhook personalisé</h1>
            <hr class="my-4">
            <p></p>
        </div>
    </div>


</div>

</body>
</html>