<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>

<div th:replace="fragments/header"></div>

<div class="body-container">
    <div th:replace="fragments/sidenav"></div>


    <div class="content-container documentation-container">
        <div class="jumbotron shadow discord-container">
            <h1>Configurer Discord</h1>
            <hr class="my-4">
            <p>La configuration Discord se fait à l'aide des Webhooks des serveurs. Les notification Son envoyer dans un text channel</p>
            <p>Pour lier votre serveur, il sufit de copier coller le lien du webhook dans notifius</p>
            <p>Voici un lien vers la documentation de Discord: <a target="_blank" href="https://support.discord.com/hc/en-us/articles/228383668-Intro-to-Webhooks">Documentation</a></p>
        </div>

        <div class="jumbotron shadow team-container">
            <h1>Configurer Microsoft Team</h1>
            <hr class="my-4">
            <p>La configuration Team se fait à l'aide des Webhooks. Les notification Son envoyer dans un channel</p>
            <p>Pour lier votre serveur, il sufit de copier coller le lien du webhook dans notifius</p>
            <p>Voici un lien vers la documentation de Team: <a target="_blank" href="https://docs.microsoft.com/en-us/microsoftteams/platform/webhooks-and-connectors/what-are-webhooks-and-connectors">Documentation</a></p>
        </div>

        <div class="jumbotron shadow slack-container">
            <h1>Configurer Slack</h1>
            <hr class="my-4">
            <p>La configuration Slack se fait à l'aide des Webhooks. Les notification Son envoyer dans un channel</p>
            <p>Pour lier votre channel, il sufit de copier coller le lien du webhook dans notifius</p>
            <p>Voici un lien vers la documentation de Slack: <a target="_blank" href="https://api.slack.com/messaging/webhooks">Documentation</a></p>
        </div>

        <div class="jumbotron shadow webhook-container">
            <i class="fas fa-link"></i><h1>Configurer votre Webhook personalisé</h1>
            <hr class="my-4">
            <p></p>
        </div>
    </div>


</div>

</body>
</html>