<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>

<div th:replace="fragments/header"></div>

<div class="body-container">
    <div th:replace="fragments/sidenav"></div>


    <div class="content-container documentation-container">
        <div class="jumbotron shadow discord-container">
            <h1>Configurer Discord</h1>
            <hr class="my-4">
            <p>La configuration de Discord se fait à l'aide des Webhooks des serveurs. Les notifications sont envoyées dans un salon textuel (text channel).</p>
            <p>Pour lier votre serveur, il sufit de copier-coller le lien du Webhook dans l'onglet paramètres de Notifius.</p>
            <p>Voici un lien vers la documentation de Discord pour la création d'un Webhook : <a target="_blank" href="https://support.discord.com/hc/en-us/articles/228383668-Intro-to-Webhooks">Documentation</a></p>
        </div>

        <div class="jumbotron shadow team-container">
            <h1>Configurer Microsoft Team</h1>
            <hr class="my-4">
            <p>La configuration de Microsoft Teams se fait à l'aide des Webhooks. Les notifications sont envoyées dans un canal.</p>
            <p>Pour lier votre canal, il sufit de copier-coller le lien du Webhook dans l'onglet paramètres de Notifius.</p>
            <p>Voici un lien vers la documentation de Teams pour la création d'un Webhook : <a target="_blank" href="https://docs.microsoft.com/fr-ca/microsoftteams/platform/webhooks-and-connectors/how-to/add-incoming-webhook">Documentation</a></p>
        </div>

        <div class="jumbotron shadow slack-container">
            <h1>Configurer Slack</h1>
            <hr class="my-4">
            <p>La configuration de Slack se fait à l'aide des Webhooks. Les notifications sont envoyées dans un canal.</p>
            <p>Pour lier votre canal, il sufit de copier-coller le lien du Webhook dans l'onglet paramètres de Notifius.</p>
            <p>Voici un lien vers la documentation de Slack pour la création d'un Webhook : <a target="_blank" href="https://api.slack.com/messaging/webhooks">Documentation</a></p>
        </div>

        <div class="jumbotron shadow webhook-container">
            <i class="fas fa-link"></i><h1>Configurer votre Webhook personalisé</h1>
            <hr class="my-4">
            <p>Pour envoyer des notifications vers un Webhook personalisé, il sufit d'ajouter le lien du Webhook dans l'onglet paramètres de Notifius.</p>
        </div>
    </div>


</div>

</body>
</html>