<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>

<div th:replace="fragments/header"></div>

<div class="body-container">
    <div th:replace="fragments/sidenav"></div>



    <div class="notification-container">
        <div class="content-container">

            <div th:each="notification : ${notifications}">
                <div th:replace="fragments/notifCard"></div>
            </div>

        </div>
    </div>



</div>

</body>
1
</html>