<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>

<div th:replace="fragments/header"></div>

<div class="body-container">
    <div th:replace="fragments/sidenav"></div>

    <div class="content-container settings-container">
        <form>


            <div class="jumbotron shadow">
                <h1 class="display-4">Services</h1>
                <p class="lead">Les service sont les systèmes qui peuvent vous envoyer des notifications</p>
                <hr class="my-4">

                <div th:each="service : ${services}" class="form-group">
                    <div class="setting-row">
                        <label class="setting-row__tag" th:text="${service}" th:for="${service}"></label>

                        <label class="setting-row__check">
                            <input class="label__checkbox form-control settings-service-checkbox" type="checkbox"
                                   th:id="${service}"
                                   th:value="${service}"
                                   th:checked="${settings.getEnableServices().contains(service)}"/>
                            <span class="label__text">
                              <span class="label__check">
                                <i class="fa fa-check icon"></i>
                              </span>
                            </span>
                        </label>
                    </div>

                </div>
            </div>




            <div class="jumbotron shadow">
                <h1 class="display-4">Modes d'envoi</h1>
                <p class="lead">Les modes d'envoie son les place où les notifications seront envoyées</p>
                <hr class="my-4">

                <div th:each="notifSender : ${notificationSenders.keySet()}" class="form-group">

                    <div class="setting-row">
                        <label class="setting-row__tag" th:text="${notificationSenders.get(notifSender)}" th:for="${notifSender}"></label>

                        <label class="setting-row__check">
                            <input class="label__checkbox form-control" type="checkbox"
                                   th:id="${notifSender}"
                                   th:checked="${settings.getNotificationSenders().containsKey(notifSender)}"/>
                            <span class="label__text">
                          <span class="label__check">
                            <i class="fa fa-check icon"></i>
                          </span>
                        </span>
                        </label>
                        <label class="setting-row__value">
                            <input th:id="${notifSender}+'Value'"
                                   class="form-control settings-notification-sender-input notifius-textfield"
                                   th:value="${settings.getNotificationSenders().getOrDefault(notifSender,'')}">
                        </label>

                    </div>
                </div>
            </div>


            <div class="buttons-container">
                <input type="button" id="settings-form-submit" class="btn notifius-button" value="Sauvegarder">
                <input type="button" id="test-notification-button" class="btn notifius-button"
                       value="Tester vos nouveaux paramètres !">
            </div>
        </form>
    </div>

</div>

</div>

<script src="/js/settings.js"></script>

</body>
</html>

