<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>

<div th:replace="fragments/header"></div>

<div class="body-container">
    <div th:replace="fragments/sidenav"></div>
    <div class="content-container">
        Services :
    </div>

    <div class="content-container">

        <div th:each="services : ${settings.getEnableServices()}">
            <div th:text="${services}"></div>
        </div>

    </div>

</div>

</div>

</body>
</html>