<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>

<div th:replace="fragments/header"></div>

<div class="body-container">
    <div th:replace="fragments/sidenav"></div>

    <div class="content-container">
        <form>
            <label style="font-weight: bold;">Services : </label>
            <br/>
            <div th:each="service : ${services}" class="form-group">

                <label th:text="${service}" th:for="${service}"></label>
                <label>
                    <input  class="label__checkbox form-control settings-service-checkbox" type="checkbox"
                            th:id="${service}"
                            th:value="${service}"
                            th:checked="${settings.getEnableServices().contains(service)}"/>
                    <span class="label__text">
                      <span class="label__check">
                        <i class="fa fa-check icon"></i>
                      </span>
                    </span>
                </label>

            </div>
            <HR>
            <label style="font-weight: bold">Modes d'envoi</label>
            <br/>
            <div th:each="notifSender : ${notificationSenders}" class="form-group">
                <label th:text="${notifSender}" th:for="${notifSender}"></label>
                <label>
                    <input  class="label__checkbox form-control settings-service-checkbox" type="checkbox"
                            th:id="${notifSender}"
                            th:checked="${settings.getNotificationSenders().containsKey(notifSender+'_SENDER')}"/>
                    <span class="label__text">
                      <span class="label__check">
                        <i class="fa fa-check icon"></i>
                      </span>
                    </span>
                </label>
                <label>
                    <input th:id="${notifSender}+'Value'"
                           class="form-control settings-notification-sender-input"
                           th:value="${settings.getNotificationSenders().getOrDefault(notifSender+'_SENDER','')}">
                </label>
            </div>
            <input type="button" id="settings-form-submit" class="btn btn-primary" value="Sauvegarder">
            <input type="button" id="test-notification-button" class="btn btn-primary" value="Tester vos nouveaux paramètres !">
        </form>
    </div>

</div>

</div>

<script src="/js/settings.js"></script>

</body>
</html>

