@import "variables";
@import "header";
@import "sidenav";
@import "notification";
@import "notifCard";
@import "checkbox";
@import "button";

.body-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  min-height: 100vh;

  padding-top: $header-height;
  padding-left: $sidenav-width;

  .content-container {
    position: relative;
    margin: 1rem;
  }
}

// mobile adaptation
@media screen and (max-width: 960px) {
  .body-container {
    position: relative;
    padding: $header-height 0 0 0;
  }
}