@import "variables";

.settings-container {
  padding-bottom: 5rem;
  background-color: $notifius-green-transparent;
  .setting-row {
    display: flex;

    .setting-row__tag {
      width: 15rem;
    }
    .setting-row__check {
      margin-right: 3rem;
    }
    .setting-row__value {
      width: 50rem;
    }
  }

  .jumbotron {
    background-color: #ffffff;

  }
}